<div id="<%= dom_id recipe %>" class="flex flex-col">
  <h2 class="grid place-items-center font-bold text-xl"><%= recipe.name %></h2>
  <p>Preparation Time: <%= recipe.preparation_time %> hours </p>
  <p>Cooking Time: <%= recipe.cooking_time %> hours </p>
  <p>Steps go here....</p>

</div>
